.vscode/**
.vscode-test/**
src/**
.gitignore
.replit
replit.md
tsconfig.json
webpack.config.js
node_modules/**
*.vsix
out/**
**/*.map
test-*.js
docs/dev/**
release-notes/**
.github/**
!media/**
!webview/**
!images/**