.vscode/**
.vscode-test/**
src/**
.gitignore
.replit
replit.md
tsconfig.json
webpack.config.js\n.mocharc.json
node_modules/**
*.vsix
out/**
dist/media/**
dist/webview/**
**/*.map
test-*.js
docs/dev/**
release-notes/**
.github/**
!media/**
!webview/**
!images/**